[Desktop Entry]
Name=PkgManager
Comment=Manage, update, and clean Linux packages
Exec=pkgmanager
Icon=com.pkgmanager.desktop
Terminal=false
Type=Application
Categories=System;Utility;
StartupWMClass=pkgmanager
